.main {
  position: relative;
  display: flex;
  flex-direction: column;
  .profile {
    position: absolute;
    height: 100vh;
    width: 100vw;
  }
  &__txt-wrap {
    position: absolute;
    background: transparent;
    .wrap-hidden {
      overflow: hidden;
      display: inline-block;
      color: var(--white);
    }
    .name {
      font-weight: var(--bold-font);
      font-size: var(--h4);
      margin: var(--gap-3) 0;
      overflow: hidden;
    }
    h1 {
      font-weight: var(--bold-font);
      font-size: var(--h2);
      margin: var(--gap-3) 0;
      overflow: hidden;
      margin: 0;
    }
    .ux-ui {
      margin-left: 400px;
    }
  }
}
